[Unit]
Description=KSE

[Service]
WorkingDirectory=/opt/kse.dmitry.lapushkin
Environment=CONFIG_DIR=/opt/kse.dmitry.lapushkin/conf
ExecStart=/bin/java -Xms128m -Xmx256m -jar lib/starter-1.0.jar
User=kse
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target